<main class="modal">
    <h1 class="header-text">Sign Up</h1>
    {{#each this}}
        <input class="input {{class}}" placeholder="{{placeholder}}" name="{{name}}" id="{{id}}" type="{{type}}" />
    {{/each}}
    <button class="button button-submit">Sign Up</button>
    <button class="button clear-button">Sign In</button>
</main>
