<main class="modal">
    <h1 class="header-text">Sign Up</h1>
    <input class="input {{class}}" placeholder="{{placeholder}}" name="{{name}}" id="{{id}}" type="{{type}}" />
    <button class="button button-submit">Sign Up</button>
    <button class="button clear-button">Sign In</button>
</main>
